<style>
    body {
      background-image: url(background_img.jpg);
      background-size: 100%, 100%;
    }
  </style>

  <main class="todo_page_main">
      <article>
        <h1 class="todo_page_title">My Todo-List</h1>
        <%= form_with(url:"/todos", method: "post", class: "add_todo") do %>
        
        <%= text_field_tag "todo_text", nil,
                            required: true,
                            placeholder: "Type New Todo Here",
                            class: "add_todo_text"%>

        <%= date_field_tag "due_date", nil,
                            required: true,
                            class:"add_todo_date"%>

        <%= submit_tag nil, 
                      class:"add_todo_button",
                      value: "Add Todo"%>

        <% end %>

        <%= render partial: "todo-section", locals: {
                     section_title: "Overdue",
                     todos: @todo.overdue.where(completed: false),
                     show_due_date: true,
                   } %>
        <%= render partial: "todo-section", locals: {
                     section_title: "Due Today",
                     todos: @todo.due_today,
                     show_due_date: false,
                   } %>        
        
        <%= render partial: "todo-section", locals: {
                     section_title: "Due Later",
                     todos: @todo.due_later,
                     show_due_date: true,
                   } %>



    </article>
</main>