<!DOCTYPE html>
<html>
  <head>
    <title>Todo Management App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
<% if @current_user %>
      <p class="user_header" >
       Hello !!  <%= @current_user.first_name %>
       <%= link_to "Sign_out", destroy_session_path, method: "delete" %>
      </p>
    <% end %>

    <%= yield %>
  </body>
</html>
